name: Reusable .NET CI

on:
  workflow_call:
    inputs:
      dotnet_version:
        description: ".NET SDK version"
        required: true
        type: string
      project_path:
        description: "Path to .csproj file"
        required: true
        type: string
      build_configuration:
        description: "Build configuration"
        required: false
        default: Release
        type: string

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ inputs.dotnet_version }}

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.project_path }}

    - name: Build project
      run: dotnet build ${{ inputs.project_path }} \
            --configuration ${{ inputs.build_configuration }} \
            --no-restore

    - name: Run tests
      run: dotnet test \
            --configuration ${{ inputs.build_configuration }} \
            --no-build \
            --verbosity normal
      continue-on-error: true
