name: CI - Dev Branch

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  ci:
    uses: ./.github/workflows/reusable-dotnet-ci.yml
    with:
      dotnet-version: "8.0.x"
