name: Dev CI Pipeline

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  dev-ci:
    uses: ./.github/workflows/reusable-dotnet-ci.yml
    with:
      dotnet-version: "7.0.x"
      image-name: "sampleapi:dev"
