name: Reusable .NET CI with Docker

on:
  workflow_call:
    inputs:
      dotnet-version:
        required: true
        type: string
      image-name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Restore
        run: dotnet restore SampleApi/SampleApi.csproj

      - name: Build
        run: dotnet build SampleApi/SampleApi.csproj --no-restore

      - name: Test
        run: dotnet test --no-build || true

      - name: Docker Build
        run: |
          docker build -t ${{ inputs.image-name }} SampleApi
