name: Reusable .NET CI with Docker

on:
  workflow_call:
    inputs:
      dotnet-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Restore
        run: dotnet restore src/SampleWebApi/SampleWebApi.csproj

      - name: Build
        run: dotnet build src/SampleWebApi/SampleWebApi.csproj --no-restore

      - name: Test
        run: dotnet test || echo "No tests found"

      - name: Docker Build
        run: docker build -t samplewebapi:ci -f ./docker/Dockerfile .
